* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: gray;
}

.form-container {
  background-color: #1a252b;
  color: white;
  width: 100vw;
  padding: 1rem 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  display: grid;
  row-gap: 2rem;
}

.fields {
  display: grid;
  gap: 0 5%;
  grid-template-columns: repeat(2, 1fr);
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  text-align: center;
  margin: 2rem 0 0 0;
  font-size: 2.5rem;
}

.main-subheader {
  text-align: center;
  margin-bottom: 2rem;
}

.spacer {
  padding: 2rem;
}

.card-container {
  background-image: url("./bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  width: 60%;
  height: 70%;
  left: 0;
  opacity: 0.3;
}

.card-header {
  color: #c99a57;
  font-size: 6.5vw;
  position: absolute;
  top: 2.5%;
  font-weight: 500;
  letter-spacing: 2px;
  font: open-sans;
  text-transform: uppercase;
  z-index: 99999;
}

.employee-name {
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 5vw;
}

.function-container {
  display: flex;
  flex-direction: column;
}

.function-label,
.function {
  position: absolute;
  left: 2.5%;
}

.function-label {
  text-transform: capitalize;
  color: white;
  z-index: 999999;
  font-size: 3vw;
}

.function {
  top: 60%;
  font-size: 3vw;
}

.card-label {
  position: absolute;
  font-size: 2vw;
  bottom: 2%;
  letter-spacing: 2px;
}

.profile-img {
  position: absolute;
  right: 5%;
  top: 20%;
  height: 70%;
  width: 30%;
  border-radius: 5px;
}

.employee-name,
.function,
.card-label,
.newcomer-label {
  text-transform: uppercase;
  color: white;
  z-index: 999999;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

label,
select {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

input,
select {
  font-size: 1.25rem;
  width: 100%;
  color: #2974ff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: #f7f7f7;
}

#fill-btn,
#screenshot-btn {
  background-color: dodgerblue;
  color: white;
  border-radius: 6px;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  border: none;
  transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
}

#fill-btn:hover,
#screenshot-btn:hover {
  background-color: #c278cc;
}

#output {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

.newcomer-label {
  position: absolute;
  top: 70%;
  left: 5%;
  font-size: 7.5vw;
  letter-spacing: 6px;
  opacity: 0;
}

.visible-text {
  opacity: 1;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

input[type="file"] {
  width: auto;
}

label,
select {
  cursor: pointer;
}
